{% extends 'layouts/base_dashboard.html' %}
<!-- {% block title %}Productos{% endblock %}

{% block extra_content %}Productos{% endblock %}

{% block extra_content2 %}Productos{% endblock %}
{% block extra_content3 %}Crear{% endblock %} -->
{% block content %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Crear Evento</h6>
    <form action="{% url 'evento_create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Titulo</label>
            <!-- <input type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp"> -->
            {{ formulario.titulo }}
        </div>
        <div class="mb-3">
            <label for="{{ formulario.descripcion.id_for_label }}" class="form-label">Descripcion</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.descripcion }}
        </div>
        <div class="mb-3">
            <label for="{{ formulario.info_extra.id_for_label }}" class="form-label">Informacion extra</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.info_extra }}
        </div>
        <div class="mb-3">
            <label for="{{ formulario.inicia_el.id_for_label }}" class="form-label">Comienza</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.inicia_el }}
        </div>
        <div class="mb-3">
            <label for="{{ formulario.termina_el.id_for_label }}" class="form-label">Termina</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.termina_el }}
        </div>
        <div class="mb-3">
            <label for="{{ formulario.etiqueta.id_for_label }}" class="form-label">Etiqueta</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.etiqueta }}
        </div>
        <div class="mb-3">
            <label for="{{ formulario.etiqueta.id_for_label }}" class="form-label">Notificar: </label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.notificar }}
        </div>
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
