<!-- Este archivo se llamará usuario_detail_modal.html y estará en la carpeta de templates -->

<div class="modal fade" id="detailUsuarioModal" tabindex="-1" aria-labelledby="detailUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailUsuarioModalLabel">Detalles del Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <p><strong>Nombre de Usuario:
            </strong> {{ user.username }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Nombres:
            </strong> {{ user.first_name }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Apellidos:
            </strong> {{ user.last_name }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Email:
            </strong> {{ user.email }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Teléfono:
            </strong> {{ user.telefono }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>