{% extends 'layouts/base_dashboard.html' %}

{% load static %}

<!-- {% block title %}Productos{% endblock %}
{% block extra_content %}Productos{% endblock %}
{% block extra_content2 %}Productos{% endblock %} -->

{% block content %}


<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Eventos</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Comienza</th>
                <th scope="col">Termina</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"><a href="{% url 'evento_create' %}">Crear evento</a></th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                
                    <th>{{ evento.id }}</th>
                    <td>{{ evento.user }}</td>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.comienza }}</td>
                    <td>{{ evento.termina }}</td>
                    <td><a href="{% url 'evento_edit' evento.id %}">Editar</a></td>
                    <td><a href="{% url 'evento_detail' evento.id %}">Detalles</a></td>
                    <td><a href="{% url 'evento_delete' evento.id %}">Eliminar</a></td>
                
                

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}