{% extends 'layouts/base_dashboard.html' %} {% load static %}

{% block content %}
<div class="bg-light rounded h-100 p-4">
  <h6 class="mb-4">Registros</h6>
  <table class="hover" id="dataTable">
    <thead>
      <tr>
        <th scope="col">Tipo de registro</th>
        <th scope="col">Usuario</th>
        <th scope="col">Entidad</th>
        <th scope="col">Elemento</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
      <tr>
        <th>{{ registro.tipo }}</th>
        <td>{{ registro.usuario }}</td>
        <td>{{ registro.entidad }}</td>
        <td>{{ registro.elemento_id }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}