{% extends 'layouts/base_dashboard.html' %}

{% block content %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Etiquetas </h6> 
    <table class="hover" id="dataTable">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Imagen</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"><a href="{% url 'evento_etiqueta_create' %}" style="color: #29a900">Crear etiqueta</a></th>
            </tr>
        </thead>
        <tbody>
            {% for etiqueta in etiquetas %}
            <tr>
                <td>{{ etiqueta.titulo }}</td>
                <td>{{ etiqueta.descripcion }}</td>
                <td>{{ etiqueta.imagen }}</td>
                <td>
                    <!-- Texto amarillo para editar -->
                    <span style="color: #29a900; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#editaretiquetaModal{{ etiqueta.id }}">
                        Editar etiqueta
                    </span>
                    <!-- Modal de editar etiqueta -->
                    <div class="modal fade" id="editaretiquetaModal{{ etiqueta.id }}" tabindex="-1" aria-labelledby="editaretiquetaModalLabel{{ etiqueta.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editaretiquetaModalLabel{{ etiqueta.id }}">Editar etiqueta</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulario de edición -->
                                    <form action="{% url 'evento_etiqueta_edit' etiqueta.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="titulo" class="form-label">Titulo</label>
                                            <input type="text" class="form-control" id="titulo" name="titulo" value="{{ etiqueta.titulo }}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="descripcion" class="form-label">Descripcion</label>
                                            <input class="form-control" id="descripcion" name="descripcion">{{ etiqueta.descripcion }}</input>
                                        </div>
                                        <div class="mb-3">
                                            <label for="comienza" class="form-label">Imagen</label>
                                            <input type="image" class="form-control" id="comienza" name="comienza" value="{{ etiqueta.imagen }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- Texto azul para detalles -->
                    <span style="color: #29a900; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#detallesetiquetaModal{{ etiqueta.id }}">
                        Detalles
                    </span>
                    <!-- Modal de detalles del etiqueta -->
                    <div class="modal fade" id="detallesetiquetaModal{{ etiqueta.id }}" tabindex="-1" aria-labelledby="detallesetiquetaModalLabel{{ etiqueta.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="detallesetiquetaModalLabel{{ etiqueta.id }}">Detalles del etiqueta</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Usuario:</strong> {{ etiqueta.titulo }}</p>
                                    <p><strong>Titulo:</strong> {{ etiqueta.descripcion }}</p>
                                    <p><strong>Descripcion:</strong> {{ etiqueta.imagen }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- Texto rojo para eliminar -->
                    <span style="color: red; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#eliminaretiquetaModal{{ etiqueta.id }}">
                        Eliminar etiqueta
                    </span>
                    <!-- Modal de confirmación de eliminación -->
                    <div class="modal fade" id="eliminaretiquetaModal{{ etiqueta.id }}" tabindex="-1" aria-labelledby="eliminaretiquetaModalLabel{{ etiqueta.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eliminaretiquetaModalLabel{{ etiqueta.id }}">¿Estás seguro de que deseas eliminar este etiqueta?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Detalles del etiqueta que se eliminará -->
                                    <p>{{ etiqueta.titulo }}</p>
                                    <p>{{ etiqueta.descripcion }}</p>
                                    <p>Comienza: {{ etiqueta.imagen }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <!-- Enlace para eliminar el etiqueta -->
                                    <a class="btn btn-danger" href="{% url 'evento_etiqueta_delete' etiqueta.id %}">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



