<div class="modal fade" id="detailEtiquetaModal" tabindex="-1" aria-labelledby="detailEtiquetaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailEtiquetaModalLabel">Detalles de la Etiqueta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <p><strong class="btn1">Título</strong> {{ etiqueta.titulo }}</p>
        </div>
        <div class="mb-3">
            <p><strong class="btn1">Descripción</strong> {{ etiqueta.descripcion }}</p>
        </div>
        <div class="mb-3">
            <p><strong class="btn1">Imagen</strong> 
              {% if etiqueta.imagen %}
                <img src="{{ etiqueta.imagen }}" alt="{{ etiqueta.titulo }}" class="img-fluid">
              {% else %}
                No disponible
              {% endif %}
            </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cerrar">Cerrar</button>
      </div>
    </div>
  </div>
</div>
