venv/
dashboard/__pycache__
dashboard/migrations/__pycache__
dashboard/migrations/
calendeventmanager/__pycache__
notifications/__pycache__
notifications/migrations/__pycache__
notifications/emails/__pycache__
calendeventmanager/media
db.sqlite3
__pycache__
dashboard/forms/__pycache__
dashboard/forms/eventos/__pycache__
dashboard/forms/users/__pycache__
dashboard/models/__pycache__
dashboard/models/eventos/__pycache__
dashboard/models/registros/__pycache__
dashboard/urls/__pycache__
dashboard/urls/auth/__pycache__
dashboard/urls/calendario/__pycache__
dashboard/urls/eventos/__pycache__
dashboard/urls/home/__pycache__
dashboard/urls/registros/__pycache__
dashboard/urls/users/__pycache__
