{% extends 'layouts/base_dashboard.html' %}

<!-- {% block title %}Usuarios{% endblock %}
{% block extra_content %}Usuarios{% endblock %}
{% block extra_content2 %}Usuarios{% endblock %}
{% block extra_content3 %}Editar{% endblock %} -->

{% block content %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Editar Usuario</h6>
    <form action="{% url 'usuario_edit' usuario.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre Usuario</label>
            <!-- <input type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp"> -->
            {{ formulario.username }}
        </div>
        <div class="mb-3">
            <label for="exampleInputNombres1" class="form-label">Nombres</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.first_name }}
        </div>
        <div class="mb-3">
            <label for="exampleInputApellidos1" class="form-label">Apellidos</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.last_name }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.email }}
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono1" class="form-label">Telefono</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.telefono }}
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono" class="form-label">Imagen</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.imagen }}
        </div>
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Comienza</label>
            
            {{ formulario.comienza }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Termina</label>
        
            {{ formulario.termina }}
        </div>
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        {% if error %}
            <div id="emailHelp" class="form-text">{{ error }}</div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'usuario' %}" class="btn btn-secondary">Volver</a>

    </form>

</div>

{% endblock %}