<div class="modal fade" id="detailUsuarioModal" tabindex="-1" aria-labelledby="detailUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailUsuarioModalLabel">Detalles del Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <p><strong class="btn2">Nombre de usuario:
            </strong> {{ usuario.username }}</p>
        </div>
        <div class="mb-3">
            <p><strong class="btn2">Nombres:
            </strong> {{ usuario.first_name }}</p>
        </div>
        <div class="mb-3">
            <p><strong class="btn2">Apellidos:
            </strong> {{ usuario.last_name }}</p>
        </div>
        <div class="mb-3">
            <p><strong class="btn2">Telefono:
            </strong> {{ usuario.telefono }}</p>
        </div>
        <div class="mb-3">
          <p><strong class="btn2">Correo electronico:
          </strong> {{ usuario.email }}</p>
        </div>
        <div class="mb-3">
          <p><strong class="btn2">Rol en la plataforma:
          </strong> {{ usuario.group }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cerrar">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
