<div class="modal fade" id="detailUsuarioModal" tabindex="-1" aria-labelledby="detailUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailUsuarioModalLabel">Detalles del Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <p><strong>Nombre de usuario:
            </strong> {{ usuario.username }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Nombres:
            </strong> {{ usuario.first_name }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Apellidos:
            </strong> {{ usuario.last_name }}</p>
        </div>
        <div class="mb-3">
            <p><strong>Telefono:
            </strong> {{ usuario.telefono }}</p>
        </div>
        <div class="mb-3">
          <p><strong>Correo electronico:
          </strong> {{ usuario.email }}</p>
        </div>
        <div class="mb-3">
          <p><strong>Imagen de perfil:
          </strong> {{ usuario.imagen }}</p>
        </div>
        <div class="mb-3">
          <p><strong>Rol en la plataforma:
          </strong> {{ usuario.group }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
