{% extends 'layouts/base_dashboard.html' %}

<!-- {% block title %}Productos{% endblock %}

{% block extra_content %}Productos{% endblock %}

{% block extra_content2 %}Productos{% endblock %}
{% block extra_content3 %}Crear{% endblock %} -->

{% block content %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Crear Usuario</h6>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'usuario_create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre Usuario</label>
            <!-- <input type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp"> -->
            {{ formulario.username }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.password1 }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.password2 }}
        </div>
        <div class="mb-3">
            <label for="exampleInputNombres1" class="form-label">Nombres</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.first_name }}
        </div>
        <div class="mb-3">
            <label for="exampleInputApellidos1" class="form-label">Apellidos</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.last_name }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.email }}
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono1" class="form-label">Telefono</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.telefono }}
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono" class="form-label">Rol</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.group }}
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono" class="form-label">Imagen</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            {{ formulario.imagen }}
        </div>
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Termina</label>
            
            {{ formulario.termina }}
        </div> -->
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        {% if error %}
            <div id="emailHelp" class="form-text">{{ error }}</div>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

{% endblock %}
